@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: Roboto, sans-serif;
  font-size: 32px;
}

main {
  margin-top: 80px;
}

#calculator {
  width: 360px;
  height: auto;
  margin: auto;
  border: 8px;
  border-color: black;
  border-style: solid;
}

#display {
  margin: 8px;
  font-size: 64px;
  text-align: right;
  height: 80px;
}

.row {
  margin: 8px;
}

button {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  width: 80px;
  height: 80px;
  padding: 0px;
}

#equals {
  width: 168px;
}
