@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-color: #dce0e8;
}

main {
  margin-top: 80px;
}

#calculator {
  width: 360px;
  height: auto;
  margin: auto;
  border: 4px;
  border-style: solid;
  border-radius: 8px;
  border-color: #5c5f77;
  background-color: #9ca0b0;
}

#display {
  margin: 8px;
  padding: 8px;
  font-size: 64px;
  text-align: right;
  height: 80px;
  color: #4c4f69;
  background-color: #eff1f5;
  border: 4px;
  border-style: solid;
  border-color: #5c5f77;
  border-radius: 8px;
}

.overflowing {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  margin: 8px;
}

button {
  color: #4c4f69;
  background-color: #eff1f5;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 700;
  width: 80px;
  height: 80px;
  padding: 0px;
}

.number {
  color: #04a5e5;
  border: 4px;
  border-style: solid;
  border-color: #04a5e5;
  border-radius: 8px;
}

.operator {
  color: #e64553;
  border: 4px;
  border-style: solid;
  border-color: #e64553;
  border-radius: 8px;
}

.function {
  color: #df8e1d;
  border: 4px;
  border-style: solid;
  border-color: #df8e1d;
  border-radius: 8px;
}

#equals {
  width: 168px;
}
